In [35]:
#1.Imports
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [36]:
# 2. Chargement du dataset
df = pd.read_csv("movies.csv")
print(df.shape)
df.head()

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [37]:
# 3. Sélection des variables utiles (avant sortie du film)
cols = [
    "budget",
    "runtime",
    "genres",
    "popularity",
    "vote_average",
    "vote_count",
    "original_language",
    "revenue"
]
df = df[cols]
df.head()

,budget,runtime,genres,popularity,vote_average,vote_count,original_language,revenue
0,237000000,162.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",150.437577,7.2,11800,en,2787965087
1,300000000,169.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",139.082615,6.9,4500,en,961000000
2,245000000,148.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",107.376788,6.3,4466,en,880674609
3,250000000,165.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",112.312950,7.6,9106,en,1084939099
4,260000000,132.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",43.926995,6.1,2124,en,284139100

In [38]:

# 4. Nettoyage des données
df.dropna(inplace=True)
df = df[df["budget"] > 0]
df = df[df["runtime"] > 0]
df.shape

(3762, 8)

In [39]:
# 5. Création de la variable cible (Classe a prédire)
df["success"] = (df["revenue"] > df["budget"]).astype(int)
df["success"].value_counts()

success
1    2438
0    1324
Name: count, dtype: int64

In [40]:
#6.Suppression du data leakage (revenu)
df.drop(columns=["revenue"], inplace=True)
df.head()

,budget,runtime,genres,popularity,vote_average,vote_count,original_language,success
0,237000000,162.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",150.437577,7.2,11800,en,1
1,300000000,169.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",139.082615,6.9,4500,en,1
2,245000000,148.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",107.376788,6.3,4466,en,1
3,250000000,165.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",112.312950,7.6,9106,en,1
4,260000000,132.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",43.926995,6.1,2124,en,1

In [41]:
#7.Séparation X / y
X = df.drop(columns=["success"])
y = df["success"]

print(X.shape)
print(y.shape)

(3762, 7)
(3762,)

In [42]:
#8.Encodage des variables catégorielles (transformer les variables nominales en plusieurs variables binaires)
X = pd.get_dummies(
    X,
    columns=["genres", "original_language"],
    drop_first=True
)

X.head()

,budget,runtime,popularity,vote_average,vote_count,"genres_[{""id"": 10402, ""name"": ""Music""}, {""id"": 10749, ""name"": ""Romance""}]","genres_[{""id"": 10402, ""name"": ""Music""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""name"": ""Animation""}, {""id"": 28, ""name"": ""Action""}, {""id"": 35, ""name"": ""Comedy""}]","genres_[{""id"": 10402, ""name"": ""Music""}, {""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""name"": ""Romance""}, {""id"": 80, ""name"": ""Crime""}]","genres_[{""id"": 10402, ""name"": ""Music""}, {""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""name"": ""Romance""}]","genres_[{""id"": 10402, ""name"": ""Music""}, {""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name"": ""Comedy""}]",...,original_language_pt,original_language_ro,original_language_ru,original_language_sv,original_language_te,original_language_th,original_language_tr,original_language_vi,original_language_xx,original_language_zh
0,237000000,162.0,150.437577,7.2,11800,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,300000000,169.0,139.082615,6.9,4500,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,245000000,148.0,107.376788,6.3,4466,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,250000000,165.0,112.312950,7.6,9106,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,260000000,132.0,43.926995,6.1,2124,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [44]:
#9.Normalisation
num_cols = ["budget", "runtime", "popularity", "vote_average", "vote_count"]

scaler = StandardScaler()
X[num_cols] = scaler.fit_transform(X[num_cols])

X[num_cols].describe()

             budget       runtime    popularity  vote_average   vote_count
count  3.762000e+03  3.762000e+03  3.762000e+03  3.762000e+03  3762.000000
mean  -6.043957e-17  1.662088e-16  6.043957e-17 -1.076580e-16     0.000000
std    1.000133e+00  1.000133e+00  1.000133e+00  1.000133e+00     1.000133
min   -8.693188e-01 -3.319144e+00 -7.551556e-01 -6.488843e+00    -0.637454
25%   -6.817472e-01 -6.980969e-01 -5.228409e-01 -5.509157e-01    -0.551954
50%   -3.300504e-01 -1.641799e-01 -2.438432e-01  7.412924e-02    -0.364970
75%    3.030038e-01  5.153508e-01  2.300928e-01  6.991742e-01     0.084831
max    8.040333e+00  1.109661e+01  2.466636e+01  3.928573e+00     9.586800

In [45]:
#10. Export & vérifications finales
print(X.shape)
print(y.shape)

X.columns.to_series().to_csv("features_after_encoding.csv", index=False)
df.to_csv("dataset_final.csv", index=False)

(3762, 1058)
(3762,)